<section id="top" class="relative isolate overflow-hidden bg-[#f5fbf3] pt-14">
	<p class="sr-only">AWS エンジニア Takahiro のポートフォリオ</p>
	<div class="h-[65vh] min-h-[360px] w-full sm:h-[100vh]">
		<img
			src="/images/theme/pixel-beach.png"
			alt="ピクセル調の山と湖の風景"
			class="h-full w-full object-cover object-[50%_25%] sm:object-center"
			loading="eager"
		/>
	</div>
</section>
